menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}

.inputs {
    padding: 5px;
}

/*======================================================================*/

.add-article {
    margin-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

/*======================================================================*/

.all-articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

table {
    text-align: center;
}

/*======================================================================*/
